*{
    margin: 0;
    padding: 0;
}
.box{
    height: 1000px;
}
.a{background-color: yellowgreen;}
.b{background-color: rgb(40, 10, 68);}
.c{background-color: violet;}
.d{background-color: navy;}
.sec-a{
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: sticky;
    left: 100px;
    top: 100px;
}
.sec-b{
    background-color: yellow;
    width: 200px;
    height: 100%;
    position: sticky;
    left: 100px;
    top: 100px;
}
.box.c{
    height: 4000px;
    display: flex;
    /*align-items: flex-start;*/
}
.box.c>*{
    flex: 1;
}
.sec-c{
    background-color: whitesmoke;
    position: sticky;
    left: 0px;
    top: 10px;
    align-self: flex-start;
    width: 50%;
    min-height: 500px;
}
.sec-d{
    background-color: pink;
}