@media(max-width:1920px){
    .container{
        background-color: red;
    }
@media(max: width 1024px;){
    .contatiner{
        background-color: blue;
    }
}
}
@media(max-width:768px){
    .container{
        background-color: green;

    }
}
