html{
    font-family: 'pretendard', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 6rem;
    gap: 10px;
    background: url(../img/예제4bg.png) no-repeat 50% 50% / cover;
}
.stp1{
    font-family: "아보";
}
.banner{
    height: 599px;
    background: url(../img/예제4_커피.jpg) no-repeat 50% 50% / cover;
    border-radius: 2.5rem;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.common-frame{
    width: 1600px;
    margin:0 auto;
    padding-top: 6rem;
}
.common-frame h2{
    font-size: 7.5rem;
    line-height: 90%;
    text-transform: uppercase;
    padding-top: 6rem;
    margin-bottom: 2rem;
}
.desc1{
    line-height: 140%;
    text-transform: uppercase;
    margin: 2.4rem 0;
}
.wrap{
    background: url(../img/BACKGROUND.png) no-repeat 50% 0%/ 100% auto;
}
.gallery{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.gallery figure{
    flex: 1;
    aspect-ratio: 520/434;
    overflow: hidden;
    border-radius: 1rem;
}
.gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 1s ease 0s;
}
.common-frame h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    line-height: 140%;
}
.desc2{
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.gallery.type2 figure{
    flex: 1;
    aspect-ratio: 790/434;
}
