.a{
    border:1px solid red;
    padding: 30px;
    background-color: aquamarine;
    background-image: url(../img/dog-9830812_640.jpg);
    width: calc(700px + 100px);
    height: calc(80px*10);
    background-repeat: no-repeat;
    /* background-position: -100px -200px; */
    background-position: calc(100% - 100px) 100%;
    background-size: auto 100%;
    /* background-position: calc(100% - 100px) auto; */
    background-size: cover;
}
.b{
    border: 1px solid blue;
    height: 800px;
    background: aquamarine url(../img/dog-9830812_640.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
}
.c{
    border: 1px solid green;
    height: 800px;
    background: lime url(../img/dog-9830812_640.jpg) no-repeat 50% 50% / contain;
    background-blend-mode: multiply;
}
.d{
    border: 1px solid coral;
    height:800px;
    background:
    url(../img/dog-9830812_640.jpg) no-repeat 0% 50% / auto auto,
    url(../img/dog-9830812_640.jpg) no-repeat 50% 50% / contain,
    url(../img/dog-9830812_640.jpg) no-repeat 100% 50% / auto 100px;
}
.e{
    border: 1px solid orange;
    height: 800px;
    background:
    url(../img/dog-9830812_640.jpg) no-repeat 50% 50% / contain
    linear-gradient(30deg, red 20%, blue, green 80%)
}