html{
    font-family: 'pretendard', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 8rem;
    gap: 10px;
}
.stp1{
    font-family: "아보";
}
.wrap{
    width: 1920px;
    height: 2122px;
}
.topspace{
    border: 1px solid red;
    padding-top: 8rem;
    gap: 10px;
    width: 1600px;
}
.stp1{
    border: 1px solid blue;
    width: 453px;
    height: 58px;
    margin: 0 auto 10px;
    font-family: "아보";
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.secondspaces{
    border: 1px solid yellow;
    font-family: inherit;
    width: 1600px;
    gap: 10px;
}