.a{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 200px auto;
    animation-name: myrotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation: iteration-count:1;
    animation-drection:normal;
}
.a:hover{
    animation-play-state: paused;
}
@keyframes myrotate{
    0%{transform: translateX(0) rotate(0deg);}
    100%{transform: translateX(300px)rotate(360deg);}
}

.b{
    width: 100px;
    height: 100px;
    background-color: gold;
    margin: 200px auto;
    animation: bounce .9s ease 0s infinite normal;
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    45.5%{}
    100%{
        transform: scale(2);
    }
}

.box1{
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    box-shadow: 10px 30px 0px blue;
}

.box2{border: 1px solid #000;
width:200px;
height:200px;
margin:200px auto;
box-shadow: 20px 20px 0px red,
-20px -20px 0 blue,
40px 40px 0 green;
}
.box3:hover{
    box-shadow: 10px 10px 20px red;
    transition:all 1s ease 0s;
}
.filter2 img:hover{
    filter:brightness(1)
}
.filter3 img{
    filter:blur(0px);
}
.filter4 img{
    filter: hue-rotate(180deg);
}
.filter4 img:hover{
    filter: hue-rotate(0deg)
}

.bg{
    background: linear-gradient(30deg, gold, darkgreen);
}
.blend1{
    mix-blend-mode:color-burn;
}
.blend2{
    mix-blend-mode: difference;
}
.blend3{
    mix-blend-mode: overlay;
}
*{
    margin:0;padding: 0;
}
.box{
    border: 1px solid red;
    display: grid;
    gap: 10px 20px;
    /*grid-template-columns: 100px 200px 300px;*/
    /*grid-template-columns: 150px 20% 20% 100px;*/
    /*grid-template-columns: repeat(2, 20%) 100px;*/
    /*grid-template-columns: repeats(4,1fr); */
    grid-template-columns: repeat(4,1fr);
    /*grid-template-rows: 100px 100px 100px 100px 100px;*/
    grid-template-rows: repect(5,minmax(100px,auto));
}
.box section{
    border: 1px solid blue;
}
.box section: :nth-of-type(6){
    background-color:green
    grid-column:1/3;
    grid-row:1/3;
}

