.box{
    border:5px solid #000;
    width: 300px;
    height: 300px
    margin: 200px auto;
    transition:all 1s ease 0s;
}
.a{background-color: red;}
.a:hover{transform: translateX(-50%);}

.b{background-color: blue;}
.b:hover{transform: translateY(-50%);}

.c{background-color: orange;}
.c:hover{
    transform:
    translateY(-100px)
    translateX(100px)
}
.parent{
    background-color: #eee;
    height: 700px;
    perspective: 10000px;
    perspective-origin: 100% 50%;
}
.d{
    background-color: green;margin: 0; margin-left: auto;}
    .parent:hover .d{transform: translateZ(-500px)}
    .e{background-color: coral;}
    .e:hover{transform: rotate(36000deg);}
    .f:hover{transform: rotateX(180deg);}
    .g{background-color: salmon;}
    .g:hover{transform: rotate(180deg);}
    .h{background-color: darkcyan;}
    .h:hover{transform: scaleX(200%);}
    .i{background-color: chocolate;}
    .i{hover{transform: scaleY(2);}}
    .j{background-color: hotpink;}
    .j:hover{transform: scale(0.7);}
    .k