.aboreto{
    font-style:normal;
}
:root{
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
}
@media(max-width:1920px){...
}
@media(max-width:1024px)
html{}
    font-size: var(--base-pad)
}
@media(max-width:768px){}