html{
    font-size: 20px;
    font-family: "pretendard", sans-serif;
    font-weight: 400;
}
header{
    border-bottom: 2px solid #BE0707;
    height: 100px;
    position: fixed;
    left: 100px;
    top: 0;
    width: 100%;
    right: 0;
}
.common-frame{
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header. inner-frame{
    display: flex;
    justify-content: space-between;
}
header .logo{
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
}
.lnb{
    display: flex;
    gap: 1rem;
    height: 30px;
    align-items: center;
    line-height: 100%;
    font-size: .8rem;
    text-transposition;
}
.lnb li{
    border: 1px solid blue;
}
.gnb{
    border: 1px solid red;
    display:  flex;
    height: 70px;
    font-weight: 600;
    font-size: .9rem;
    line-height: 100%;
    text-transform: uppercase;
}
.gnb li{
    flex: 1;
    border: 1px solid lime;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.gnb li a{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav{
    width: 966px;
    border: 1px solid blue;
}
.banner{
    border: 1px solid red;
    height: 100vh;
    background: url(../img/0130hero배너.jpg) no-repeat 50% 50%/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin-bottom: 6rem;
}
.banner h2{
    width: 1600px;
    font-size: 7rem;
    line-height: 90%;
    text-transform: uppercase;
}
.c1 h3{
    font-size: 3rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.c1 p{
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.sub-banner{
    height: 441px;
}
.sub-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
