html{
    font-size: 20px;
    font-family: "pretendard", sans-serif;
    font-weight: 400;
}
header{
}
.common-frame{
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 500px;
    height: 500px;
}
